/* ==========================
   HEADER + NAV WRAPPER
========================== */

header .nav-wrapper {
  background-color: var(--sovm-header);
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 0;
}

/* ==========================
   AUTHORABLE TOP STRIP
   (Universal Editor)
========================== */

header .nav-wrapper .fragment-container {
  background-color: var(--nav-color);
  color: var(--sovm-header);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  width: 100%;
  align-items: start;
}
@media (width >=768px){ 
  header .nav-wrapper .fragment-container .default-content-wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1208px;
}
}

header .nav-wrapper .fragment-container p{
  font-weight: 500;
  font-size: 16px;
}

 @media (width < 990px) {
  header .nav-wrapper .fragment-container p {
    text-align: center;
    margin: 0 auto;
  }
}


@media (width >= 990px) {
  header .nav-wrapper .fragment-container p {
    padding: 0 clamp(
      16px,
      calc(16px + (100vw - 1208px) * 0),
      16px
    );
  }
}


header .nav-wrapper .fragment-container p a{
  color: var(--sovm-header);
}

/* ==========================
   NAV
========================== */

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 1208px;
  height: var(--nav-height);
  padding: 1.25rem 12px;
  font-family: var(--body-font-family);
}

/* @media (width < 768px) {
  header nav[aria-expanded='true'] {
    display: grid;
    grid-template:
      'hamburger brand close' var(--nav-height)
      'tools tools tools' auto
      'sections sections sections' 1fr
      / auto 1fr auto;

    min-height: calc(100dvh - var(--head-top-height, 40px));
    overflow: hidden; 
  }
} */

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;

  min-height: calc(100dvh - var(--head-top-height, 40px));
  overflow-y: auto;
}


/* ==========================
   DESKTOP
========================== */

@media (width >= 768px) {
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 1208px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

/* ==========================
   COMMON ELEMENTS
========================== */

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: var(--sovm-header);
  background-color: transparent;
}
/* @media (width < 768px){
  header nav a:any-link:hover{
    text-decoration: underline;
  }
} */

/* ==========================
   BUTTONS
========================== */

header nav a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--sovm-header);
  cursor: pointer;
  white-space: nowrap;
  padding: 8px;
}

header nav a.button:hover,
a.button:focus,
button:hover,
button:focus {
  color: var(--nav-color);
}
 @media (width < 768px) {
  header nav a.button:hover,
  header nav a.button:active,
  header nav a.button:focus {
    text-decoration: underline;
  }
}
@media (width >= 768px) {
  header nav a.button {
    text-decoration: none;
  }
}


header nav a.button:active {
  color: white;
}

header nav a.button.btn-nav,
button.btn-nav {
  background-color: unset;
  color: var(--nav-color);
}

/* ==========================
   HAMBURGER
========================== */

header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
  background: none;
  position: fixed;
  right: 30px;
}

/* hamburger icon */

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  display: block;
  width: 20px;
  position: relative;
  background: currentColor;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
  transition: all .3s ease;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  width: 24px;
  height: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg);
  top: unset;
  bottom: 3px;
}

@media (width >= 768px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* ==========================
   BRAND
========================== */

header .nav-brand {
  grid-area: brand;
  /* flex-basis: 128px; */
  font-weight: 700;
}

header nav .nav-brand img {
  width: 102px;
  height: auto;
  margin: 20px 0;
}

/* ==========================
   SECTIONS
========================== */

header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
}
header nav .nav-sections .default-content-wrapper{
  display: flex;
  justify-content: center;
}


@media (width > 768px) {
  header nav .nav-sections .default-content-wrapper {
    padding-left: clamp(
      24px,
      calc((100vw - 768px) * 0.77),
      350px
    );
  }
}

@media (width < 768px) {
  header nav .nav-sections .default-content-wrapper {
    justify-content: flex-start;
    padding-inline: 28px;
  }
}

@media (width >= 768px) {
  header nav {
    display: flex;
    align-items: center;
  }

  header nav .nav-brand {
    flex: 0 0 auto;
  }

  header nav .nav-sections {
    display: flex;
    justify-content: center; 
  }

  header nav .nav-tools {
    flex: 0 0 auto;
  }

  header nav .nav-sections .default-content-wrapper {
    justify-content: flex-end;
  }
}
@media (width < 768px) {

  header nav[aria-expanded='true'] .nav-tools,
  header nav[aria-expanded='true'] .nav-sections {
    display: block;
    visibility: visible;
  }

  /* Icons first */
  header nav[aria-expanded='true'] .nav-tools {
    order: 1;
    padding: 16px;
    border-bottom: 1px solid #eee;
  }

  /* Nav items next */
  header nav[aria-expanded='true'] .nav-sections {
    order: 2;
    padding: 0;
    background: var(--light-color);
  }

  header nav[aria-expanded='true'] .nav-sections ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}



header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
}

@media (width >= 768px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 26px;
    margin: 0;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    position: absolute;
    top: 45%;
    right: 8%;
    width: 4px;
    height: 4px;
    border: 2px solid #fff;
    border-width: 1.5px 1.5px 0 0;
    transform: rotate(135deg);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: absolute;
    left: -24px;
    top: 150%;
    min-width: 150px;
    padding: 16px;
    /* margin-bottom: 5px; */
    font-size: 16px;
    font-weight: 400;
    background-color: var(--light-color);
  }

  header nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li[aria-expanded='true']
    > ul {
    display: block;
    position: absolute;
    left: 12px;
    min-width: 132px;
    top: 85%;
    padding: 8px;
    padding-top: 12px;
    border-radius: 14px;
    border-color: #282b3a;
    background-color: var(--light-color);
    white-space: initial;
  }
}

/* ==========================
   TOOLS
========================== */

header nav .nav-tools {
  grid-area: tools;
}
@media (width < 768px){
  header nav .nav-tools{
    display: none;
  }
}
header nav .nav-tools .icon {
  width: 18px;
  height: 18px;
  transition: .4s ease-out;
  margin-left: 18px;
}
@media (width >= 768px){
  header nav .nav-tools .icon .icon-icon-email{
  display: none;
}
}

@media (width < 768px) {
  header nav .nav-tools .icon .icon-icon-email {
  display: block;
}}

@media (width < 768px){
  header nav{
  padding: 0;
}
header nav .nav-brand img {
    width:72px;
    height: 40px;
    margin: 20px 30px;
  }
  header nav[aria-expanded="true"] .nav-hamburger-icon{
    width: 15px;
    height: 14px;
    margin: 0px 10px;
    right: 20px;
    background: none;
}
}

@media (width < 768px){
  header nav a.button:any-link, button{
    background-color: var(--light-color);
    color: var(--sovm-header);
    font-size: 36px;
    font-weight: 700;
    /* font-family: 'Vulf Sans'; */
    line-height: 40px;
    padding-inline: 0;
    border-radius: 0;
  }}