/* ---------- OUTER WRAPPER ---------- */

.sovm-cards-wrapper {
  padding: 48px 36px 48px 48px;
  border-radius: 14px;
  box-sizing: border-box;
}

/* Grid */
.sovm-cards-wrapper.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.sovm-cards-wrapper.no-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 475px;
  min-height: 370px;
}


.sovm-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

/* ---------- IMAGE ---------- */

.sovm-card.has-image {
  flex-direction: column;
}

.sovm-card.has-image .sovm-card-image {
  width: 100%;
}

.sovm-card.has-image .sovm-card-image img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* ---------- CONTENT AREA ---------- */

.sovm-card-content {
  display: flex;
  flex-direction: column;
}

.sovm-card.has-image .sovm-card-content {
  width: 100%;
  margin-top: 16px;
}

/* ---------- NO IMAGE CASE ---------- */

.sovm-card.no-image .sovm-card-image {
  display: none;
}

.sovm-card.no-image .sovm-card-content {
  width: 100%;
}

/* ---------- BACKGROUND THEME STYLES ---------- */

.sovm-cards-wrapper.card-white {
  background: var(--bg-white-50);
  border: 1px solid var(--background-color);
  color: var(--bg-primary);
}

.sovm-cards-wrapper.card-darkgrey {
  background: var(--bg-primary);
  color: var(--color-white);
}

/* ---------- BUTTON WITH ICON  ---------- */

.sovm-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 160px;
  padding: 7px 10px 11px 24px;
  border-radius: 14px;
  border: 1px solid var(--bg-primary);
  text-decoration: none;
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-out;
  background: var(--color-brand-green);
}

.sovm-btn:hover{
  background: var(--color-brand-green-25);
  opacity: 0.9;
}

.sovm-btn svg.icon {
  display: inline-block;
  fill: currentcolor;
  border: 1px solid var(--bg-primary);
  border-radius: 9px;
  padding: 0.625rem;
  background: var(--light-color);
}


.sovm-btn span {
  display: inline-block;
  line-height: 27px;
  font-weight: 500;
  color: var(--bg-primary);
}

.card-darkgrey .sovm-btn {
  border-color: var(--color-white);
  color: var(--color-white);
}


/* ---------- TYPOGRAPHY ---------- */

.sovm-cards-wrapper .sovm-card-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 22px;
  line-height: 40px;
}

.sovm-cards-wrapper .sovm-card-content p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 26px;
}

/* ---------- RESPONSIVE ---------- */

/* @media (width <= 1024px) {
  .sovm-cards-wrapper.grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* Desktop view: 3 cards */
.sovm-cards-wrapper.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}

/* Tablet view: 2 cards */
@media (max-width: 992px) {
  .sovm-cards-wrapper.grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 1 card for mobile view */
@media (max-width : 768px) {
  .sovm-cards-wrapper.grid-3 {
    grid-template-columns: 1fr;
  }

  .sovm-cards-wrapper.no-grid {
    width: 100%;
    padding: 24px;
  }
}
