.sovm-cards-wrapper {
  width: 475px;
  padding: 48px 36px 48px 48px;
  border-radius: 14px;
}
.sovm-cards-wrapper.card-with-border {
  border: 1px solid #000;
}
.sovm-cards-wrapper.card-white {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  backdrop-filter: blur(12px);
}
.sovm-cards-wrapper.card-darkgrey {
  background: #2b2b2b;
  color: #fff;
}

.sovm-cards-wrapper.card-darkgrey h3,
.sovm-cards-wrapper.card-darkgrey p {
  color: #fff;
}
