/* ---------- OUTER WRAPPER ---------- */

.sovm-cards-wrapper {
  padding: 48px 36px 48px 48px;
  border-radius: 14px;
  width: 475px;
  min-height: 370px;
  box-sizing: border-box;
}

/* ---------- CARD BASE ---------- */

.sovm-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* ---------- IMAGE PRESENT CASE ---------- */

.sovm-card.has-image {
  flex-direction: column;     /* STACKED MODE */
}

.sovm-card.has-image .sovm-card-image {
  width: 100%;
}

.sovm-card.has-image .sovm-card-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.sovm-card.has-image .sovm-card-content {
  width: 100%;
  margin-top: 16px;
}

/* ---------- NO IMAGE CASE ---------- */

.sovm-card.no-image .sovm-card-image{
  display: none;
}

.sovm-card.no-image .sovm-card-content {
  width: 100%;
}

/* ---------- BACKGROUND STYLES ---------- */

.sovm-cards-wrapper.card-white {
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  color: #000;
}

.sovm-cards-wrapper.card-darkgrey {
  background: #2a2a2a;
  color: white;
}

/* ---------- BUTTON ---------- */

.sovm-btn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 14px;
  border: 1px solid #000;
  text-decoration: none;
  margin-top: 10px;
  font-size: 16px;
}

.card-darkgrey .sovm-btn {
  border-color: #fff;
  color: #fff;
}

/* ---------- TYPOGRAPHY ---------- */

.sovm-cards-wrapper .sovm-card-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 22px;
  line-height: 40px;
}

.sovm-cards-wrapper .sovm-card-content p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 26px;
}
