.sovm-card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.sovm-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.sovm-cards-wrapper.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sovm-cards-wrapper.no-grid {
  display: flex;
  flex-direction: column;
}

.sovm-cards-wrapper.card-white .sovm-card {
  background: #fff;
}

.sovm-cards-wrapper.card-darkgrey .sovm-card {
  background: #2d2d2d;
  color: #fff;
}


.sovm-card-image img {
  width: 100%;
  border-radius: 8px;
}

.sovm-card-content h3 {
  margin-top: 10px;
  font-size: 20px;
}

.sovm-card-content p {
  font-size: 14px;
  margin: 10px 0;
}

.sovm-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background: #007aff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.sovm-icon {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.sovm-icon svg.icon {
  width: 24px;
  height: 24px;
  fill: currentcolor;
}

